.container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

.hidden {
    display: none;
}

input, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
}

#balance, #user {
    font-weight: bold;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

input[type="text"], input[type="password"], input[type="number"], button {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#error-message {
    color: #ff0000;
    font-weight: bold;
}

body{
    background-image: url("https://img.lovepik.com/background/20211021/large/lovepik-blue-background-of-science-and-technology-image_500486349.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


